<!-- header -->
<header>
  <div class="wrapper">
    <div class="header-inner">
      <h1>
        <a class="header-logo" href="/">
          <img class="header-img" src="static/img/stopwatch.png" alt="logo" />
          <p class="header-title">5sec stopwatch</p>
        </a>
      </h1>

      <div class="dropdown">
        <button id="user-name" type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user_name }}</button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <li><button class="dropdown-item" value="user_1">user_1</button></li>
          <li><button class="dropdown-item" value="user_2">user_2</button></li>
          <li><button class="dropdown-item" value="user_3">user_3</button></li>
        </ul>
      </div>

    </div>
  </div>
</header>
<!-- /header -->